.container {
  margin-top: 160px;
  width: 100%;
  background-color: var(--GRAY);
  box-shadow: inset 0 0 0 1px var(--GRAY_B);

  @media (max-width: 767px) {
    margin-top: 120px;
  }
}

.desktop {

  @media (max-width: 1279px) {
    display: none;
  }
}

.footer {
  display: flex;
  margin: 0 auto;
  max-width: 2480px;
  background-color: var(--GRAY);
  padding: 0 40px;

  @media (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (max-width: 1279px) {
    padding: 0;
    margin-top: 160px;
  }

  @media (max-width: 767px) {
    margin-top: 0;
  }

  &.mobile {
    display: none;
    flex-direction: column;
    justify-content: flex-start;

    @media (max-width: 1279px) {
      display: flex;
    }
  }
}



.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 40px 40px 0;
  width: 260px;

  @media (max-width: 1279px) {
    width: 100%;
    padding: 52px;
    gap: 24px;
  }

  @media (max-width: 767px) {
    padding: 32px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 64px;
  padding: 40px;
  box-shadow: inset 1px 0 0 var(--GRAY_B);
  width: 1400px;

  @media (max-width: 1279px) {
    padding: 0;
    box-shadow: none;
    gap: 48px;
  }

  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.links_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.links_block_reverse {
  display: flex;
  flex-direction: row;
  gap: 48px;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

// mobile

.second_block {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 52px;
  box-shadow: inset 0 1px 0 var(--GRAY_B);

  @media (max-width: 767px) {
    padding: 32px;

    p {
      width: 180px;
    }
  }
}

.desktop_links {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobile_links {
  display: none;

  @media (max-width: 767px) {
    display: flex;
  }
}

.desc {
  font-size: 16px;
  color: var(--GRAY_T);
  width: 180px;

  @media (max-width: 1279px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.mobile_desc {
  display: none;
  font-size: 16px;
  color: var(--GRAY_T);
  width: 180px;

  @media (max-width: 767px) {
    display: block;
  }
}