.container {
  width: 100%;
  position: relative;
  padding: 0 40px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1279px) {
    padding: 0;
  }

  @media (max-width: 767px) {
    padding: 120px 0;
  }
}