.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: inset 1px 0 0 var(--GRAY_B), inset 0 -1px 0 var(--GRAY_B);
  width: 100%;
  padding: 32px 40px;

  &.icon {
    height: 330px;

    @media (max-width: 1279px) {
      height: 200px;
    }

    @media (max-width: 959px) {
      height: 174px;
    }

    @media (max-width: 767px) {
      height: 150px;
    }

    p {
      @media (max-width: 767px) {
        font-size: 14px;
      }

    }
  }

  &.text_v {
    height: 330px;

    @media (max-width: 1279px) {
      height: 165px;
    }

    @media (max-width: 959px) {
      height: 175px;
    }

    @media (max-width: 767px) {
      height: 140px;
    }
  }

  &.gray {
    justify-content: flex-end;

    @media (max-width: 767px) {
      height: 100%;
    }
  }

  h2 {
    color: var(--GREEN);
  }

  svg {
    width: 96px;
    height: 96px;

    @media (max-width: 1279px) {
      width: 64px;
      height: 64px;
    }

    @media (max-width: 767px) {
      width: 48px;
      height: 48px;
    }
  }

  @media (max-width: 1279px) {
    padding: 24px 32px;
  }

  @media (max-width: 959px) {
    padding: 24px 32px;
  }

  @media (max-width: 767px) {
    padding: 24px;
  }
}

.text {
  font-size: 18px;

  @media (max-width: 1279px) {
    font-size: 16px;
  }

  &.gray_t {
    color: var(--GRAY_T);
  }
}