.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  box-shadow: inset -1px 0 0 var(--GRAY_B), inset 0 -1px 0 var(--GRAY_B);

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .grid > .gridItem:last-child {
      grid-column: 1 / -1;
    }
  }
}

