.link {
  display: inline-block;
  transition: color 150ms ease;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  color: var(--GREEN);
  font-size: 18px;
  font-family: var(--font-inter);

  &:hover {
    color: var(--GREEN_H);
  }

  &:active {
    color: var(--GREEN_A);
  }
}