.link {
  display: inline-block;
  transition: color 150ms ease;
  padding: 0;
  text-decoration: none;
  cursor: pointer;

  p {
    color: var(--GREEN);

    &:hover {
      color: var(--GREEN_H);
    }

    &:active {
      color: var(--GREEN_A);
    }
  }
}